/* FOOOTER */

footer {
  background: var(--green);
  position: relative;
}

.footer .footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8rem;
  margin-bottom: 11rem;
}


.section.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 73vh;
  position: relative;
}


.footer .footer-flex h6 {
  color: var(--white);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.footer .footer-flex p {
  color: var(--white);
  font-family: Poppins;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.5%;
  text-transform: capitalize;
}

.footer .footer__icons_flex {
  display: flex;
  gap: 1rem;
}

.footer .footer-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer .footer__flex_location {
  display: flex;
  gap: 10px;
}

.footer__border-bottom {
  position: absolute;
  content: '';
  background: var(--white);
  height: 2px;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 70px;
}

footer .footer__copyright {
  position: absolute;
  bottom: 0px;
  padding: 2rem 0;
  text-align: center;
  right: 0;
  left: 0;
  width: 100%;
}
.footer__copyright h6 {
  color: var(--white);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.5%;
    /* 22.48px */
}

.footer-flex a {
  transition: .6s;
}

.footer-flex a:hover svg circle {
  fill: blanchedalmond;
}




.hamburger {
  position: absolute;
  right: 0;
  top: 40px;

  display: none;
}

.menu {
  --s: 40px;
  /* control the size */
  --c: rgb(255, 255, 255);
  /* the color */

  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s) / 2) solid #0000;
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%, var(--c) 95%, #0000) repeat-y content-box border-box;
  background: var(--_g2) left var(--_p, 0px) top,
    var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
    var(--_g2) right var(--_p, 0px) top,
    var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size: 20% 80%, 40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
  cursor: pointer;
  transition: background-position 0.3s var(--_s, 0.3s),
    clip-path 0s var(--_s, 0.6s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.menu:before,
.menu:after {
  content: "";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
}

.menu:checked {
  clip-path: inset(0);
  --_p: calc(-1 * var(--s));
  --_s: 0s;
}

.menu:checked:before {
  transform: rotate(45deg);
}

.menu:checked:after {
  transform: rotate(-45deg);
}

.menu:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}